/*change top bar color*/
[data-view="views/shared/appbar/AppNav"] {
    background-color: #9C1E5D;
}
[data-view="views/shared/appbar/AppLabel"] {
    background-color: #9C1E5D;
}
/*change unhighlighted text on the bar color*/
[data-role="app-nav-container"] [data-role="label"] {
    /*color: #D1C1E8;*/
    color: #E6C7D6;
}
/*change color of underline and text of current tab*/
[data-role="underline"] {
    /*background-color: #F3E3EB !important;*/
    background-color: #FFFFFF !important;
}
[data-role="app-nav-container"] [data-active="active"] [data-role="label"] {
    color: #FFFFFF;
}
/*make a longer text input to be used for searches*/
#text_long input {
    width: 700px !important;
}
#text_medium input {
    width: 300px !important;
}
#text_medium label {
    width: 300px !important;
}
#small_label label {
    font-size: 12px !important;
}
/*Horizontal 2-radio button to save space*/
#horiz_two_radio [data-test="radio-list"] {
    flex-direction: row !important;
}
#horiz_two_radio [data-test="option"] {
    margin-right: 6px;
}
