/*change top bar color*/
[data-view="views/shared/appbar/AppNav"] {
    background-color: #9C1E5D;
}
[data-view="views/shared/appbar/AppLabel"] {
    background-color: #9C1E5D;
}
/*change unhighlighted text on the bar color
[data-role="label"] {
    /*color: #D1C1E8;
    color: #E6C7D6;
}*/
/*change color of underline highlight of current tab*/
[data-role="underline"] {
    /*background-color: #F3E3EB !important;*/
    background-color: #FFFFFF !important;
}
/*make a longer text input to be used for searches*/
#text_long .splunk-textinput input{
    width: 700px !important;
}
[data-active="active"] {
    color: #FFFFFF;
}
